.cards-wrapper {
    padding: 20px;
    display: flex;
    position: relative;
}

.card {
    margin: 0 0 0 20px ;
}

.card:first-child {
    margin-left: 0;
}
.alert {
    margin: 20px;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 255, 0.4);
    pointer-events: none;
    transition: opacity, visibility, cursor, 0.2s ease-in-out;
}

.card:hover::before {
    opacity: 0;
    /*visibility: hidden;*/
    /*cursor: pointer;*/
}

.all {
    height: 4000px;
}
