body {
    display: flex;
}

.cards-wrapper {
    padding: 20px;
    display: flex;
    position: relative;
}

.card {
    margin: 0 0 0 20px ;
}

.card:first-child {
    margin-left: 0;
}
.alert {
    margin: 20px;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 255, 0.4);
    pointer-events: none;
    transition: opacity, visibility, cursor, 0.2s ease-in-out;
}

.card:hover::before {
    opacity: 0;
}

.row {
    width: 100%;
    margin: 0;
}

.wrapped-collapse {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 0 20px 20px;
}

.d-inline-flex {
    margin-left: 20px;
    margin-right: 20px;
}

.col-4 {
    width: 20%;
    padding: 20px 20px 20px 30px;
}

.col-8 {
    width: 80%;
    padding: 0;
}